<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.min.spring.dao.UserDao">

    <select id="findById" resultType="com.min.spring.entity.User">
        select * from User where id=#{id}
    </select>

    <select id="findByUsername" resultType="com.min.spring.entity.User">
        select * from User where username=#{username}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO user (
          username,
          password,
          avatar,
          created,
          updated
        )
        VALUES
          (
            #{user.username},
            #{user.password},
            #{user.avatar},
            #{user.created},
            #{user.updated}
          )
    </insert>

    <update id="update" >
        UPDATE
          user
        SET
          username = #{user.username},
          password = #{user.password},
          avatar = #{user.avatar},
          updated = #{user.updated}
        WHERE id = #{user.id};

    </update>

    <select id="findByString" resultType="com.min.spring.entity.User">
        select * from User where username like concat("%",#{keyword},"%" )
          or avatar like concat("%",#{keyword},"%" )
    </select>
    <delete id="deleteBatch" >
        delete from user
        where id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>
</mapper>