<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.min.spring.dao.UserDao">

    <select id="findById" resultType="com.min.spring.entity.User">
        select * from User where id=#{id}
    </select>

    <select id="findByUsername" resultType="com.min.spring.entity.User">
        select * from User where username=#{username}
    </select>

    <select id="findBytoken" resultType="com.min.spring.dto.TokenUser">
        select
          b.id,
          b.username,
          b.avatar,
          a.expiration_time
        from
          usertoken a
          inner join user b
            on b.id = a.uid
        where a.token = #{token}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO user (
          username,
          password,
          avatar,
          created,
          updated
        )
        VALUES
          (
            #{user.username},
            #{user.password},
            #{user.avatar},
            #{user.created},
            #{user.updated}
          )
    </insert>

    <update id="update" >
        UPDATE
          user
        SET
          username = #{user.username},
          password = #{user.password},
          avatar = #{user.avatar},
          updated = #{user.updated}
        WHERE id = #{user.id};

    </update>
</mapper>