<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>控制台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <div th:replace="common/header::header"></div>
</head>

<body>
<div class="main-container" id="main-container">
    <div class="">
        <div>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">首页</a>
                </li>
            </ul><!-- .breadcrumb -->
            <!--<button class="btn btn-sm btn-primary" onclick="window.location.reload()" style="margin-top: 5px">-->
            <!--<i class="icon-refresh"></i>-->
            <!--刷新-->
            <!--</button>-->
        </div>

    </div><!-- /.main-container -->

    <div class="page-content">
        <div class="page-header">
            <h1>
                项目介绍
            </h1>

        </div>
        <div class="row">
            <div class="col-xs-1" style="margin-bottom: 10px"></div>
            <div class="col-xs-10" style="margin-bottom: 10px">
                <div>1.项目使用技术</div>
                <div>1.项目使用技术</div>
                <div>1.项目使用技术</div>
            </div>
            <div class="col-xs-1" style="margin-bottom: 10px"></div>


        </div>
    </div>
</div>

</body>
<div th:replace="common/footer::footer_js"></div>
</html>

